.section {
  padding-top: 40px;
  padding-bottom: 24px;
}

.container {
  outline: 1px solid tomato;
  padding: 0 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 74px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 123px;
  }
}

.wrap {
  outline: 1px solid rgb(51, 185, 111);
  padding: 43px 50px 17px 50px;
  background-color: #fafafa;

  @media screen and (min-width: 768px) {
    padding-left: 7px;
    padding-right: 6px;
    padding-top: 37px;
    padding-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 105px;
    padding-right: 107px;
    padding-top: 47px;
    padding-bottom: 30px;
  }
}

.text {
  position: relative;
  z-index: 3;
  outline: 1px solid rgb(40, 48, 117);
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: #000000;
  padding: 0 12px;

  background-image: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa 30px,
    #e1e1e1 30px,
    #e1e1e1 31px
  );

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 216%;
    letter-spacing: 0.04em;
    padding: 0 50px 2px 44px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.87;
    padding: 0 35px 2px 36px;
  }
}
.text::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 54px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url(/images/quotes.png);
}
.images {
  text-align: center;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}
